services:
  db:
    image: postgres:18
    restart: always
    environment:
      # Required environment variable for the default 'postgres' user
      POSTGRES_PASSWORD: password
      # POSTGRES_USER: myuser
      POSTGRES_DB: lol-twitch-vods
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
    driver: local
