@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Custom colors from original project */
  --color-primary: #6f2dbd;
  --color-secondary: #282c33;
  --color-gray-one: #0f1216;
  --color-gray-two: #181c23;
  --color-gray-three: #282c33;
  --color-gray-four: #383c44;
  --color-gray-five: #5e605f;
  --color-gray-six: #828282;
}

/* Global styles from original project */
:root {
  --background: #0f1216;
  --foreground: #ededed;
}

* {
  color: #e1e1e1;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body > * {
  max-width: 1280px;
  width: 100%;
}

body nav {
  width: 100%;
  max-width: 100%;
}
